@use 'src/scss/base/variables' as v;
@use 'src/scss/base/mixins' as m;

.anfitrion {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5rem;

    padding: 5rem;
    border-radius: 1rem;

    background-image: linear-gradient( to bottom, v.$negro 0%, v.$negro 50%, transparent 50%), url(/build/img/anfitrion.jpg);
    background-repeat: no-repeat;
    background-position: center, center bottom;
    background-size: 100%, 60rem;

    @include m.telefono { 
    background-size: 100%, 70rem;
    background-position: center, center 200%;
    }

    @include m.tablet { 
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);

    background-image: linear-gradient( to right, v.$negro 0%, v.$negro 45%, transparent 55%), url(/build/img/anfitrion.jpg);
    background-repeat: no-repeat;
    background-position: center, -10% 10%;
    background-size: 100%, auto;

    padding: 15rem 5rem;
    }

    @include m.desktop { 
        background-position: center, 150% 20%;
    }

    .anfitrion__heading {
        color: v.$blanco;
    }

    .anfitrion__texto {
        color: v.$blanco;

    }

    .anfitrion__enlace {
        @include m.boton(v.$blanco, v.$negro);
        border-radius: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}